<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <add key="ConnectionString" value="server=127.0.0.1;database=lifesense;uid=sa;pwd=123456"/>
    <add key="VirtualPath" value=""/>
    <!--APPid -->
    <add key="APPid" value="1b80cf89b99d608d0ee2845e1fae137d3aa3e04c"/>
    <!--APPsecret-->
    <add key="APPsecret" value="ef1a5ab65c0c26747d85fc0832a9d5548e1c9cb7"/>
    <!--接口地址-->
    <add key="Url" value="30"/>
  </appSettings>
</configuration>